@model ResultViewModel
@{
    ViewData["Title"] = "Microsoft Cognitive Services - Emotion API Sample";
}

<div class="row">
    <div class="col-md-12">
        <h2>Microsoft Cognitive Services - Emotion API Sample</h2>
        <p>分析したい画像のURLを入力してください。</p>
        <form asp-controller="Home" asp-action="Result" method="post">
            <input asp-for="Url" value="https://msdnshared.blob.core.windows.net/media/2017/05/bluesky_20170521_002.jpg" /> <br />
            <button type="submit">分析する</button>
        </form>
    </div>
</div>